{% extends "base.html.twig" %}

{% block title %} {{ parent() }}{% endblock %}

{% block contenu %}
    <form method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Ajouter un type</h1>
        <div class="form-group">
            <label for="inputLibelle">Libelle :</label>
            <input id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Type de produit" required autofocus>
        </div>
        <button class="btn btn-lg btn-block" type="submit" name="btAjouter">Ajouter</button>
    </form>
{% endblock %}