{% extends "base.html.twig" %}

{% block title %} {{ parent() }}{% endblock %}

{% block contenu %}

    <div class="container">
        <h2 class="mt-5">Mentions Légales</h2>
        <p>Date de dernière mise à jour : 12 janvier 2024</p>

        <h2>Éditeur du site</h2>
        <p>
            Adresse : Orange, France, 84100<br>
            Email : contact@homegym.fr<br>
            Directeur de la publication : Jonathan Salvador<br>
        </p>

        <h2>Hébergement du site</h2>
        <p>
            Nom de l'hébergeur : o2switch<br>
            Adresse de l'hébergeur : Chem. des Pardiaux, 63000 Clermont-Ferrand<br>
            Téléphone : 04 44 44 60 40<br>
            Email : support@o2switch.fr<br>
        </p>

        <h2>Propriété intellectuelle</h2>
        <p>
            Le contenu du site HomeGym, incluant, mais sans s'y limiter, les textes, images, graphismes, logos, vidéos, et icônes, est la propriété exclusive de HomeGym, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
        </p>

        <h2>Conditions d'utilisation</h2>
        <p>
            L'utilisation du site HomeGym implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ci-après. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, les utilisateurs du site HomeGym sont donc invités à les consulter de manière régulière.
        </p>

        <h2>Protection des données personnelles</h2>
        <p>
            HomeGym s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site HomeGym.gamergathering.fr, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés. Pour plus d'informations, vous pouvez consulter notre <a href="index.php?page=politique">politique de confidentialité</a>.
        </p>

        <h2>Limitations de responsabilité</h2>
        <p>
            HomeGym ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l'utilisateur, lors de l'accès au site HomeGym.gamergathering.fr, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l'apparition d'un bug ou d'une incompatibilité.
        </p>

        <h2>Liens hypertextes</h2>
        <p>
            Le site HomeGym contient un certain nombre de liens hypertextes vers d'autres sites, mis en place avec l'autorisation de HomeGym. Cependant, HomeGym n'a pas la possibilité de vérifier le contenu des sites ainsi visités, et n'assumera en conséquence aucune responsabilité de ce fait.
        </p>
    </div>

{% endblock %}