{% extends "base.html.twig" %}

{% block title %} {{ parent() }}{% endblock %}

{% block contenu %}

<h2>Politique de confidentialité</h2>
    <p>Cette politique de confidentialité définit comment notre site Web utilise et protège les informations que vous nous fournissez lorsque vous utilisez ce site Web.</p>
    
    <h2>Collecte des informations</h2>
    <p>Nous recueillons des informations lorsque vous vous inscrivez sur notre site, vous vous connectez à votre compte, effectuez un achat, participez à un concours, répondez à une enquête ou communiquez avec nous par e-mail.</p>
    
    <h2>Utilisation des informations</h2>
    <p>Les informations que nous recueillons auprès de vous peuvent être utilisées pour :</p>
    <ul>
        <li>Vous contacter par e-mail</li>
    </ul>
    
    <h2>Sécurité</h2>
    <p>Nous nous engageons à assurer la sécurité de vos informations. Afin de prévenir l'accès non autorisé ou la divulgation, nous avons mis en place des procédures physiques, électroniques et de gestion appropriées pour sécuriser et protéger les informations que nous recueillons en ligne.</p>
    
    <h2>Confidentialité des transactions en ligne</h2>
    <p>Nous ne vendons, n'échangeons et ne transférons pas vos informations personnellement identifiables à des tiers. Cela n'inclut pas les tierces parties de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.</p>
    
    <h2>Consentement</h2>
    <p>En utilisant notre site, vous consentez à notre politique de confidentialité en ligne.</p>
    
    <h2>Mise à jour de notre politique de confidentialité</h2>
    <p>Si nous décidons de modifier notre politique de confidentialité, nous publierons ces modifications sur cette page.</p>
    
    <h2>Nous contacter</h2>
    <p>Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter en utilisant les informations ci-dessous :</p>
    <ul>
        <li>Orange, France, 84100</li>
        <li>Email: contact@homegym.fr</li>
    </ul>

{% endblock %}